<div class="content">
  <div class="form">

    <div id="logo"></div>

    <div class="label">VOCE TEM UMA SURPRESA ESPECIAL...</div>

    <div class="send">
      <div class="input">
        <input class="mail" type="text" placeholder="O mesmo email do Sympla">
      </div>

      <div class="enviar">
        <button class="um" onclick="surpresa()">➣</button>
      </div>
    </div>

    <div class="label">INSIRA SEU EMAIL DE INSCRIÇÃO</div>

    <div class="labelb">
      <a href="#">NÃO POSSUO EMAIL DE INSCRIÇÃO</a>
    </div>
  </div>
</div>
