<div class="content">
  <div class="form form-group form">

    <div id="logo"></div>

    <div class="label">FALA &nbsp;AÍ, QUAL O SEU NOME?</div>

    <!-- NOME -->
    <div class="send">
      <div class="id">
        <!-- <input id="apelido" class="form-control" name="apelido" placeholder="Ou apelido" autofocus required [(ngModel)]="cadastraPart"> -->
      </div>
      <div class="enviarNome">
      </div>
    </div>

    <!-- EMAIL -->
    <div class="label">AGORA DIGITE SEU MELHOR EMAIL</div>
    <div class="send">
      <div class="id">
        <!-- <input id="mail" class="form-control" type="email" placeholder="Pra gente te mandar uma surpresa" required [(ngModel)]="cadastro.email"> -->
      </div>

      <div class="enviarMail">
        <button id="bt_enviar" onclick="surpresa()">➣</button>
      </div>
    </div>
  </div>
</div>
