<div class="content">
  <div class="form">

    <div id="logo"></div>

    <div class="label">FALA &nbsp;AÍ, QUAL O SEU NOME?</div>

    <!-- NOME -->
    <div class="send">
      <div class="id">
        <input id="nome" type="text" placeholder="Ou apelido" autofocus required>
      </div>
      <div class="enviarNome">
      </div>
    </div>

    <!-- EMAIL -->
    <div class="label">AGORA DIGITE SEU MELHOR EMAIL</div>
    <div class="send">
      <div class="id">
        <input id="mail" type="email" placeholder="Pra gente te mandar uma surpresa" required>
      </div>

      <div class="enviarMail">
        <button id="bt_enviar" onclick="surpresa()">➣</button>
      </div>
    </div>
  </div>
</div>
