<div class="content">
  <div class="form form-group form">

    <div id="logo"></div>

    <div class="label">FALA &nbsp;AÍ, QUAL O SEU NOME?</div>

    <!-- NOME -->
    <div class="send">
      <div class="id">
        <input formControlName="apelido" id="apelido" class="form-control" name="apelido" placeholder="Ou apelido" autofocus required>
      </div>
      <div class="enviarNome">
      </div>
    </div>

    <!-- EMAIL -->
    <div class="label">AGORA DIGITE SEU MELHOR EMAIL</div>
    <div class="send">
      <div class="id">
        <input formControlName="email" id="mail" class="form-control" type="email" placeholder="Pra gente te mandar uma surpresa" required >
      </div>

      <div class="enviarMail">
        <button id="bt_enviar" (click)="salvar">➣</button>
      </div>
    </div>
  </div>
</div>
